@media screen and (max-width : 922px){
    
}

@media screen and(max-width : 579px){
    .hero-tagline h1{
        line-height: 52px;
    }

    .img-hero {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 34px;
    }

    .sub-title {
        font-size: 16px;
    }
}

@media screen and(max-width: 350px){
    
}